---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const publishedServices = await getCollection("services", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre</Fragment>
      <Fragment slot="desc">
        Tecnologia é a nossa paixão. Mesclar a nossa paixão com sua empresa, é
        nosso objetivo.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Como a Mescla Digital surgiu?
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Prazer, sou o Guilherme. Foram 10 anos trabalhando em agências, somente
        revendendo os mesmos produtos sem pensar no principal dentro da área, a
        tecnologia. Se você tem site e não é programador, deve ter contratado um
        freelancer ou uma empresa/agência para isso. A maioria está vendendo
        projetos desatualizados, pesados, comprometidos e o pior, por um preço
        absurdo.<br />
      </p>
      <h4 class="font-bold text-2xl text-gray-800">
        Mas e aí? O que estou fazendo aqui?
      </h4>
      <p class="text-lg leading-relaxed text-slate-500">
        Você já percebeu a velocidade dessa página? A contrução de seus campos e
        como ele é exibido tanto no computador/tablet e celulares? Essa
        tecnologia pode ser sua também. Não só pode como deveria. A internet
        mudou, e todo dia está mudando. Estamos em constante evolução na área, e
        a web não ficou para trás, <strong>as empresas ficaram</strong>. Chega
        de pagar caro por projetos com prazo de validade ou com dores de cabeça.
        Quer conhecer mais sobre nossa tecnologia e do que ela é capaz?
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedServices.map((serviceEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={serviceEntry.data.avatar.src}
                alt={serviceEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>; ---
