---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Mescla Básica",
    price: "Para Iniciar",
    popular: false,
    features: [
      "Landing",
      "99.99% Uptime",
      "Design Básico",
      "Suporte Básico",
      "Hospedagem Limitada",
      "Log Emails",
    ],
    button: {
      text: "Quero personalizar",
      link: "/contact",
    },
  },
  {
    name: "Mescla Startup",
    price: {
      monthly: "Recomendado",
    },
    popular: true,
    features: [
      "Site",
      "99.99% Uptime",
      "Design Padrão",
      "Suporte Avançado",
      "Hospedagem Completa",
      "Log Emails",
    ],
    button: {
      text: "Quero personalizar",
      link: "/contact",
    },
  },
  {
    name: "Mescla DigiTotal",
    price: "Personalizado",
    popular: false,
    features: [
      "Site/Gerenciador",
      "99.99% Uptime",
      "Design Personalizado",
      "Suporte Avançado",
      "Hospedagem Full Gratuita",
      "Log Emails",
    ],
    button: {
      text: "Quero personalizar",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Orçamento</Fragment>
      <Fragment slot="desc">
        Quer ajuda para adiantar um plano de ação? Escolha uma das opções e
        entre em contato.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
