---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Picture } from "@astrojs/image/components";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Sobre",
    path: "/about",
    class:
      "flex lg:px-3 py-3 items-center align-middle text-gray-600 hover:text-gray-900",
  },
  {
    title: "Guilherme Flores",
    path: "/",
    class:
      "flex lg:px-3 py-0 items-center align-middle text-gray-600 hover:text-gray-900 text-5xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter",
  },
  {
    title: "Blog",
    path: "/blog",
    class:
      "flex lg:px-3 py-3 items-center align-middle text-gray-600 hover:text-gray-900",
  },
];
---

<Container>
  <header class="flex flex-col justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                <li>
                  <a href={item.path} className={item.class}>
                    <span> {item.title}</span>
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
