---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Trabalho Atual:
  </h2>
  <p class="text-slate-400 mt-5 text-lg md:text-xl">
    Como desenvolvedor: Desenvolvimento do 0 do ecommerce da Maxxi Econômica
    Farmácias, integrando todo o sistema interno com as 140 lojas e consulta de
    estoque online, montando o desenvolvimento para ser o melhor para o cliente
    e distribuição rápida para o pdv das lojas. Criação de plataforma digital
    com automatização de diversas ferramentas internas para otimização de tempo
    e melhoria de captação de vendas para cada loja, com automatização de
    imagens padrões, impressões, utilização de campanhas, e com o projeto ainda
    em andamento e crescendo. Projeto para acesso de todos os funcionários, com
    dados de produtos que geram maior comissão, dados de venda da loja, contato
    separado de cada loja, entre outros.<br /><br />
    Além disso, sou gestor do marketing digital, gerenciando equipe e também produzindo
    materiais para todas as lojas e campanhas.<br /><br />
    Para acompanhar parte do trabalho atual realizado, acesse o site: <a
      href="https://maxxieconomica.com">Maxxi Econômica</a
    >
  </p>
</div>
