---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Site",
    description:
      "Transformamos ideias em experiências digitais envolventes. Seu site será mais que uma presença online; será uma extensão autêntica da sua visão.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Sistema",
    description:
      "Soluções digitais feitas sob medida para atender às necessidades específicas do seu negócio. Da concepção à implementação, estamos aqui para otimizar seus processos.",
    icon: "bx:bx-desktop",
  },
  {
    title: "Conteúdo",
    description:
      "Dê vida à sua marca com conteúdo textual que cativa. De descrições de produtos a narrativas corporativas, cada palavra é meticulosamente escolhida para contar sua história.",
    icon: "bx:bxs-book-content",
  },
  {
    title: "Automatizações",
    description:
      "Simplificamos tarefas complexas com automações inteligentes. Ganhe eficiência e libere tempo para o que realmente importa: fazer seu negócio prosperar.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Design",
    description:
      "A estética encontra a funcionalidade. Nossos designers criam experiências visuais que não apenas impressionam, mas também ressoam com seu público-alvo.",
    icon: "bx:bxs-pen",
  },
  {
    title: "Gestão Online",
    description:
      "Mantenha sua equipe sincronizada e seus projetos no caminho certo. Nossa abordagem de gestão de tarefas simplifica a complexidade, proporcionando resultados excepcionais.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tudo o que você precisa para começar.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Tire seu projeto do papel e mescle seu sonho aos nossos serviços. A Mescla
    estará presente nesse lançamento.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
