---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Laravel",
    description:
      "Sou proficiente no desenvolvimento web utilizando o framework Laravel, que me permite criar aplicações robustas e eficientes. Com a facilidade de integração de bancos de dados, o Laravel simplifica o gerenciamento de informações, garantindo a segurança e escalabilidade dos projetos que desenvolvo.",
    icon: "simple-icons:laravel",
  },
  {
    title: "Next.js e React",
    description:
      "Possuo expertise no desenvolvimento de interfaces dinâmicas e responsivas utilizando React e Next.js. Com uma abordagem moderna e baseada em componentes, consigo criar aplicações web eficientes, proporcionando uma experiência de usuário fluida e interativa.",
    icon: "simple-icons:react",
  },
  {
    title: "Mysql/Postgres/Firebird",
    description:
      "Minhas habilidades em MySQL, Postgres e Firebirs destacam-se na criação e otimização de bancos de dados, garantindo que as aplicações que desenvolvo possuam uma base sólida.",
    icon: "simple-icons:mysql",
  },
  {
    title: "Node.js",
    description:
      "Com Node.js, sou capaz de criar aplicações escaláveis e eficientes, aproveitando a programação assíncrona para lidar com operações de entrada e saída de maneira não bloqueante. Minha experiência inclui a construção de APIs RESTful e a integração harmoniosa com frameworks como Express, proporcionando soluções dinâmicas e de alto desempenho.",
    icon: "simple-icons:nodedotjs",
  },
  {
    title: "Html/Css/Bootstrap/Tailwind",
    description:
      "Domino as linguagens fundamentais da web, HTML e CSS, para criar layouts atraentes e acessíveis. Minha proficiência no uso de frameworks como Bootstrap e Tailwind agrega eficiência ao desenvolvimento, permitindo a criação de páginas responsivas e visualmente atraentes de maneira ágil.",
    icon: "simple-icons:html5",
  },
  {
    title: "Illustrator/Photoshop",
    description:
      "Possuo habilidades avançadas no uso de ferramentas de design gráfico, como Illustrator e Photoshop. Isso me permite criar assets visuais de alta qualidade, desde logos até interfaces de usuário, garantindo uma identidade visual coesa e atraente em todos os projetos nos quais estou envolvido.",
    icon: "simple-icons:adobe",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Tecnologias</h2>
  <p class="text-lg mt-4 text-slate-600">
    Um resumo das tecnologias que uso <strong>atualmente</strong>.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
