---
// @ts-ignore
import { Icon } from "astro-icon";

const footerIcons = [
  {
    title: "Instagram",
    href: "https://www.instagram.com/guilherme.developer",
    icon: "ant-design:instagram-outlined",
  },
  {
    title: "Whatsapp",
    href: "https://api.whatsapp.com/send?phone=5551992029800",
    icon: "ant-design:whats-app-outlined",
  },
  {
    title: "Linkedin",
    href: "https://www.linkedin.com/in/devguilherme/",
    icon: "ant-design:linkedin-filled",
  },
  {
    title: "Github",
    href: "https://www.github.com/gbflores",
    icon: "ant-design:github-filled",
  },
];
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Guilherme Flores. Todos os direitos reservados.
  </p>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    {
      footerIcons.map((item) => (
        <a rel={item.title} target="_blank" href={item.href}>
          <Icon class="h-8 md:h-12" name={item.icon} />
        </a>
      ))
    }
  </div>
</footer>
