---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import heroImage from "../assets/eu.jpg";
---

<main class="flex place-items-center pt-16 pb-8">
  <div class="flex-auto w-20 py-6 md:order-1 hidden md:block rounded-sm">
    {
      heroImage && (
        <Image
          width="300"
          height="300"
          format="avif"
          quality="mid"
          src={heroImage}
          alt={heroImage}
          class="rounded-lg"
        />
      )
    }
  </div>
  <div class="flex-auto w-80">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Dev Full Stack
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Desenvolvedor Full Stack Sênior apaixonado por criar soluções web. Com
      mais de 10 anos de experiência, tenho um histórico comprovado no
      desenvolvimento de sistemas escaláveis e no gerenciamento de projetos
      complexos.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3"></div>
  </div>
</main>
